html,
body {
    overflow-y: hidden;
    /*    background-color:#a8dadc;*/
    background-color: #9e0059;
    color: white;
}

.container {
    background-color: #091D42;
    padding: 1%;
}

#topBox,
#profilePicBox,
#changePic {
    height: 20vh;
}

#topBox {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
    color: #fff;
}

#profilePicBox img {
    background-color: white;
    height: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.moveRight {
    margin-left: 10%;
}

form:nth-child(2) {
    margin-top: 5%;
}

form:nth-child(2) button {
    display: block;
    margin: 0 auto;
}

.btn {
    margin-top: 4%;
    background-color: #eee;
    box-shadow: 0 0px 3px #333;
}

.btn:hover {
    box-shadow: 0 0px 8px rgb(248, 246, 246);
}

div.col-5.details label {
    color: #9e0059;
    font-size: 1.5em;
}

div.col-5.details span {
    font-size: 1.5em;
}