#topBar {
    background-color: white;
    height: 20vh;
}

#topBar_Left {
    background-color: aqua;
    height: 20vh;
}

#topBar_Left img {
    border-radius: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#topBar_Right {
    background-color: grey;
    height: 20vh;
}
